<tr>
  <td><%= application.cover_letter %></td>
  <td><%= application.candidate.name %></td>
  <td><%= application.job_offer.title %></td>
  <td class="text-center"><%= link_to fa_icon('eye'), application %></td>
</tr>
