<style>
.display-date {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 300;
}

.display-time {
    display: flex;
    font-size: 4.4rem;
    font-weight: bold;
    padding: 5px 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

    .display-time:hover {
    }
</style>


<div class="container-fluid text-center text-white mb-2">
        <div class="display-date justify-content-center text-black"><span id="day">day</span>,<span id="daynum">00</span><span id="month">month</span><span id="year">0000</span></div>
        <div class="display-time justify-content-center text-black"></div>
    </div>

<h1>Bienvenido a DimRecruit</h1>
<p>Esta es la página de inicio de nuestra aplicación.</p>



<% if @recent_job_offers.any? %>
  <h2>Recent Job Offers:</h2>
  <ul>
    <% @recent_job_offers.each do |job_offer| %>
      <li><%= link_to job_offer.title, job_offer_path(job_offer) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No job offers available at the moment.</p>
<% end %>



  <script type="text/javascript">
        const displayTime = document.querySelector(".display-time");
        // Time
        function showTime() {
            let time = new Date();
            displayTime.innerText = time.toLocaleTimeString("en-US", { hour12: false });
            setTimeout(showTime, 1000);
        }
        showTime();
        // Date
        function updateDate() {
            let today = new Date();

            // return number
            let dayName = today.getDay(),
                dayNum = today.getDate(),
                month = today.getMonth(),
                year = today.getFullYear();

            const months = [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Septiembre",
                "Octubre",
                "Noviembre",
                "Deciembre"
            ];
            const dayWeek = [
                "Domingo",
                "Lunes",
                "Martes",
                "Miercoles",
                "Jueves",
                "Viernes",
                "Sabado"
            ];
            // value -> ID of the html element
            const IDCollection = ["day", "daynum", "month", "year"];
            // return value array with number as a index
            const val = [dayWeek[dayName], dayNum, months[month], year];
            for (let i = 0; i < IDCollection.length; i++) {
                document.getElementById(IDCollection[i]).firstChild.nodeValue = val[i];
            }
        }

        updateDate();
    </script>
