<h1>Editing recruiter</h1>

<%= render "form", recruiter: @recruiter %>

<br>

<div>
  <%= link_to "Show this recruiter", @recruiter %> |
  <%= link_to "Back to recruiters", recruiters_path %>
</div>
